<p>
  <strong style="color: <%= @list.color %>">Titulo:</strong>
  <%= @list.title %>
</p>

<p>
  <strong>Descripcion:</strong>
  <span><%= @list.description %></span>
</p>

<p>
  <strong>Creado por:</strong>
  <%= @list.user.email %>
</p>

<p>
  <strong>Color:</strong>
  <%= @list.color %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @list.state %>
</p>

<div>
	<h4>Tareas</h4>
	<%= render 'assignments/form' %>
  <ul>
    <% @list.assignments.each do |tarea|%>
      <li>
        <%= tarea.title %>
        <%= tarea.description %>
        <% if tarea.may_to_complete? %>
          <%= link_to 'marcar como completa', "/lists/#{@list.id}/assignmets/#{tarea.id}/complete", method: :put, class: 'btn btn-danger' %>
        <% end %>
        <%= tarea.state %>
        <%= tarea.expiration_time %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
