<h1>Mis Tareas</h1>

<div class="top-space col-md-12 text-center">
  <% @assignments.each do |assignment| %>
    <div class="card no-shadow top-space big-padding relative" style="background-color:<%= assignment.list.color %>">
      <div class="absolute" style="top:10px;right:10px;">
        <%= link_to 'Editar', edit_assignment_path(assignment) %>
        <%= link_to 'Eliminar', assignment, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
      <h3 class="white-text"><%=link_to assignment.title, assignment, class: "white-text" %></h3>
      <p><strong>Descripcion:</strong> <%= assignment.description %></p>
      <p><strong>Cantidad de Tareas:</strong> <%= assignment.state %></p>
      <strong>Creada por:</strong>
      <%= assignment.list.user.email %>
      <p class="white-text">
        <strong>Lista:</strong>
        <%=link_to assignment.list.title, list_path(assignment.list_id), class: "white-text" %>
      </p>
    </div>
  <% end %>
</div>


<%=button_to new_assignment_path(), method: :get, class: "fixed-action-btn red red btn-floating btn-large" do %>
  <p class="big-font white-text bold">+</p>
<% end %>
